# ignore
ant-build
ant-gen
local.properties
platforms/android/gen
platforms/android/bin
platforms/android/assets/www
platforms/android/CordovaLib/bin
platforms/ios/build
platforms/ios/www
xcuserdata
.DS_Store

